<section class="autenticator-modal lightbox__aut visually-hidden">

    <div id="wrapper">
        <h4>Please, login or register. </h4>
        <form id="signin" autocomplete="off">
            <input type="text" id="user" name="user" placeholder="username" required minlength="6" maxlength="12" />
            <input type="password" id="pass" name="pass" placeholder="password" />
            <button type="submit">&#xf0da;</button>
            <p>forgot your password? <a href="#">click here</a></p>
        </form>
        <button type="button" class="close-modal autenticator-close" data-action="close-lightbox">
            <svg width="30" height="30">
                <use class="close-modal__cross" href="./img/svg/CloseModal.svg#icon-close-modal"></use>
            </svg>
        </button>
    </div>
</section>