.tui-pagination .tui-page-btn {
    border-width: 0;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

.tui-page-btn.tui-is-selected {
    background-color: #FF6B08;
    color: white;
    // width: 40px;
    // height: 40px;
    border-radius: 5px;
}

.tui-pagination.tui-ico-next {
    background: src(".../img/svg/next.svg");
}